.col{
  font-size:12px;
}

body{
  font-family: "Helvetica Neue",Arial,sans-serif;
}

.jumbotron{
  background-image: url(flightpack.jpg);
  background-size: cover;
  color: black;
  height:450px;
  text-align:right;
}

h2 {
  font-size:20px;
  text-align:center;
}

.card-header{
  text-align:center;
}

.link{
  color:black;
}

.display-4, .lead{
  text-align:right;
}

h3 {
  font-size:20px;
  font-weight:lighter;
}

.footer{
  font-size:8px;
}
