body{
  font-family: "Helvetica Neue",Arial,sans-serif;
}

.jumbotron{
  background-color:black;
  color:white;
}

h2 {
  font-size:22px;
  text-align:center;
}

h3 {
  font-size:20px;
  font-weight:lighter;
}

.content{
  font-size:12px;
}

.footer{
  font-size:8px;
}

.link{
  color:black;
}

.blockquote, .card-text{
  font-weight:lighter;
}

.card-title{
  font-weight:normal;
}
